* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


body {
    background-color: #222831;
    font-size: 16px; /* Base Unit */
}

/* Generic CSS Block - Start */

h1, h2, h3, h4, h5, h6 {
    
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Generic CSS Block - End */

/* Header CSS - Start */

header {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation {
            ul {
                display: flex;
                list-style: none;
                gap: 2rem;
                li {
                    color: #ffffff;
                    a { /* Normal State for the anchor */
                        font-family: "Montserrat", sans-serif;
                        font-weight: 700;
                        font-size: 1rem;
                        color: #ffffff;
                        text-decoration: none;
                        position: relative;
                        &:before {
                            content: " ";
                            position: absolute;
                            left: 0.1875rem;
                            bottom: -0.5rem;
                            right: 0.1875rem;
                            height: 0.25rem;
                            background-color: transparent;
                            transition: 0.3s all ease-in-out;
                        }
                        &:hover { /* Hover State for the anchor */
                            &::before {
                                background-color: #29a19c;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Header CSS - End */