* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


body {
    background-color: #222831;
    font-size: 16px; /* Base Unit */
    font-family: "Montserrat", sans-serif;
}

/* Generic CSS Block - Start */

:root {
    -ct-btn-primary-bg-color: #29a19c;
    -ct-btn-primary-text-color: #ffffff;
}

h1, h2 {
    margin: 0 0 1.5rem 0;
}


h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

h1, h2 {
    font-family: "Grand Hotel", cursive;
}

p {
    margin: 0 0 1.5rem 0;
    line-height: 1.5;
}

input, button {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.btn {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; /* 0.5rem = 8px */
    cursor: pointer;
}

.btn.btn-primary {
    color: var(-ct-btn-primary-text-color);
    background-color: var(-ct-btn-primary-bg-color);
}

/* Generic CSS Block - End */

/* Header CSS - Start */

header {
    margin: 0 0 2rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 0;
        padding: 1rem 0 0 0;
        .navigation {
            ul {
                display: flex;
                list-style: none;
                gap: 2rem;
                li {
                    color: #ffffff;
                    a { /* Normal State for the anchor */
                        font-weight: 700;
                        font-size: 1rem;
                        color: #ffffff;
                        text-decoration: none;
                        position: relative;
                        &:before {
                            content: " ";
                            position: absolute;
                            left: 0.1875rem;
                            bottom: -0.5rem;
                            right: 0.1875rem;
                            height: 0.25rem;
                            background-color: transparent;
                            transition: 0.3s all ease-in-out;
                        }
                        &:hover { /* Hover State for the anchor */
                            &::before {
                                background-color: #29a19c;
                            }
                        }
                    }
                }
            }
        }
        .search-form {
            background-color: #ffffff;
            position: relative;
            .icon-search {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                z-index: 1;
            }
            .input-search {
                border: none;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
            }
        }
    }
}

/* Header CSS - End */


/* Sectiion - Intro Banner */
.section-intro-banner {
    h1 {        
        color: #ffffff;
        font-size: 6rem;
        font-weight: 400;
    }
    h3   {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
    button {
        background-color: #29a19c;
        color: #ffffff;
    }
}
/* Sectiion - Intro Banner End */


.bg-pattern {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 700px;
}