* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
}


body {
    background-color: #222831;
    font-size: 16px; /* Base Unit */
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

/* Generic CSS Block - Start */

:root {
    -primary-bg-color: #29a19c;
    -ct-btn-primary-bg-color: #29a19c;
    -ct-btn-primary-text-color: #ffffff;
}

h1, h2 {
    margin: 0 0 1.5rem 0;
}


h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

h1, h2 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
}

h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
}

h3 {
    color: #fff;
}

p {
    margin: 0 0 1.5rem 0;
    line-height: 1.5;
}

input, button {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.gap-3 {
    gap: 1rem;
}

.align-items-center {
    align-items: center;
}

.btn {
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem; /* 0.5rem = 8px */
    cursor: pointer;
    text-decoration: none;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #29a19c;
}

.btn.btn-secondary {
    background-color: #222831;
    color: #ffffff;
    transition: all ease-in-out 0.1s;
    &:hover {
        background-color: #ffffff;
        color: #222831;
    }
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

/* Generic CSS Block - End */

/* Header CSS - Start */

header {
    margin: 0 0 2rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 0;
        padding: 1rem 0 0 0;
        .navigation {
            ul {
                display: flex;
                list-style: none;
                gap: 2rem;
                li {
                    color: #ffffff;
                    a { /* Normal State for the anchor */
                        font-weight: 700;
                        font-size: 1rem;
                        color: #ffffff;
                        text-decoration: none;
                        position: relative;
                        &:before {
                            content: " ";
                            position: absolute;
                            left: 0.1875rem;
                            bottom: -0.5rem;
                            right: 0.1875rem;
                            height: 0.25rem;
                            background-color: transparent;
                            transition: 0.3s all ease-in-out;
                        }
                        &:hover { /* Hover State for the anchor */
                            &::before {
                                background-color: #29a19c;
                            }
                        }
                    }
                }
            }
        }
        .search-form {
            background-color: #ffffff;
            position: relative;
            .icon-search {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                z-index: 1;
            }
            .input-search {
                border: none;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
            }
        }
    }
}

/* Header CSS - End */


/* Sectiion - Intro Banner */
.section-intro-banner {
    h1 {        
        color: #ffffff;
        font-size: 6rem;
        font-weight: 400;
    }
    h3   {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
    button {
        background-color: #29a19c;
        color: #ffffff;
    }
    .col-content {
        width: 50%;
        position: relative;
        top: -5rem;
    }
    .col-img {
        width: 50%;
        .img-intro-banner {
            position: relative;
            right: -8.5rem;
            width: 100%;
        }
    }
}
/* Sectiion - Intro Banner End */


.bg-pattern {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Section Black Coffee Start */

.section-black-coffee {
    position: relative;
    .img-section-black-coffee-top-pattern {
        position: absolute;
        top: -10rem;
        left: 0;
        right: 0;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        svg {
            width: 100%;
        }
    }
    .content-area {
        background-color: #29a19c;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 8rem 0 0 0;
        position: relative;
        z-index: 1;
        .col-content {
            width: 50%;
            h2 {
                color: #ffffff;
            }
        }
        .col-img-desc {
            width: 50%;
            .img-content-black-coffee {
                margin: 0 0 2rem 0;
            }
            p {
                color: #ffffff;
                text-align: right;
            }
        }
    }
     .img-section-black-coffee-bottom-pattern {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
}

/* Section Black Coffee End */

/* section-video start */
.section-video {
    padding: 2rem 0;
    h1 {
        color: #ffffff;
        font-size: 3rem;
    }
}
/* section-video end */

/* Section Voucher Start */
.section-voucher {
    padding: 5rem 0 5rem 0;
}

.swiperjs-wapper-content {
    width: 60%;
    margin: 0 auto 3rem auto;
}

.voucher-area {
    margin: 0 0 3rem 0;
}
/* Section Voucher End */

/* Customer Reviews - Start */
.customer-review-area {
    .customer-card {
        width: 100%;
        max-width: 50%;
        text-align: center;
        padding: 0 8rem 0 8rem;

        h3 {
            font-family: "Grand Hotel", cursive;
            font-size: 3rem;
            font-weight: 400;
        }
        p {
            color: #ffffff;
        }
    }

}

/* Customer Reviews - End */

/* section-video - Start */

.section-video {
    margin: 0 0 5rem 0;
}

/* section-video - End */

/* section-audio */
.section-audio {
    padding: 2rem 0;
}

/* SwiperJS CSS Start */

.swiper {
  width: 100%;
  color: #ffffff;
}

/* SwiperJS CSS End */

/* Section - Contact Form - Start */
.section-form-contact {
    padding: 5rem 0;
    .col-img-content-form {
        width: 50%;
        padding-right: 0.5rem;
        img {
            border-radius: 2rem;
        }
    }
    .col-contact-form {
        width: 50%;
        color: #fff;
        padding-left: 0.5rem;
    }
    .form-wrapper {
        background-color: #29a19c;
        border-radius: 3rem;
        padding: 3.25rem 3rem;
        label.label-form {
            display: block;
        }
        .form-control {
            width: 100%;
            height: 2.5rem;
            padding: 0 1rem;
        }
        textarea.form-control {
            height: auto;
        }
        a {
            color: #fff;
        }
    }
}
/* Section - Conact Form - End */


/* Section - Thanks You - page */
.section-thank-you {
    padding: 5rem 0 0 0;
    p {
        color: #fff;
    }
}
/* section - Thanks You - page */

/* Section - Pricing Table */
.section-pricing-table {
    color: #fff;
    padding: 5rem 0;
    table.table-pricing {
        width: 100%;
        text-align: center;
        border: 1px solid #fff;
        background-color: #29a19c;
        th, td {
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 0.5rem 0;
        }
    }
}
/* Section - Pricing Table */

/* toggler-btn-sm */
header {
    .toggler-btn-sm {
        display: none;
    }
    }

/* toggler-btn-sm End */

/* Section - Blockquote Tag - Start */
.section-blockquote {
    background-color: #29a19c;
    padding: 5rem 0;

}
.section-blockquote blockquote {
    color: #fff;
    font-size: 2rem;
    margin: 0 0 3rem 0;
    text-align: center;
}

.section-blockquote cite {
    color: #fff;
    font-weight: 700;
    text-align: center;
    display: block;
}
.section-blockquote cite span {
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
}
/* Section - Blockquote Tag - End */

/* Section - Article - Start */
.section-article {
    padding: 5rem 0;
    
    h2 {
        font-size: 3rem;
    }
    p {
        color: #fff;
    }
    .col-article {
        width: 50%;
    }
    .col-img {
        width: 50%;
        img {
            border-radius: 1rem;
        }
    }
}
/* Section - Article - End */

/* section-article-detail - Start */
.section-article-detail {
    padding: 5rem 0;
    h1, p {
        color: #fff;
    }
    aside {
        width: 15%;
        .search-form {
            background-color: #ffffff;
            position: relative;
            margin-bottom: 2rem;
            .icon-search {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                z-index: 1;
            }
            .input-search {
                border: none;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
            }
        }
        .related-quick-links-articles {
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                li {
                    color: #fff;
                    a {
                        color: #fff;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .col-article-details {
        width: 80%;
        margin-left: auto;
    }
}
/* section-article-detail - End */

/* Footer */
.footer {
    color: #fff;
    background-color: #29a19c;
    padding: 3rem 0;
    .footer-col-about {
        width: 50%;
    }
    .footer-col {
        width: 25%;
        ul {
            list-style: none;
        }
        a {
            color: #fff;
            text-decoration: none;;
        }
    }
}
/* /Footer */


/* Media Query - Responsive View - Start */

/* iPad Start */
@media (min-width: 768px) and (max-width: 991px) {
    .section-black-coffee {
        & .content-area {
            .d-flex {
                flex-direction: column;
            }
            .col-content {
                width: 100%;
            }
        }
    }
}
/* iPad End */

/* Phone Start */

@media (max-width: 767px) {
    header {
        background-color: #29a19c;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        & nav {
            position: relative;
            .navigation {
                transition: all ease-in-out 0.2s;
                transform: translate(100%, 0);
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                background-color: #29a19c;
                display: flex;
                &.active {
                    flex-direction: column;
                    transform: translate(0, 0);
                }
                ul {
                    flex-direction: column;
                    padding: 2rem;
                }
            }
            .search-form {
                display: none;
            }
        }
        .toggler-btn-sm {
            display: inline-block;
            border: none;
            background: none;
            color: #ffffff;
            font-size: 3rem;
            .fa-bars {
                display: block;
            }
            .fa-times, .fa-xmark {
                display: none;
            }
            &.open {
             .fa-bars {
                    display: none;
                }
                .fa-times, .fa-xmark {
                    display: block;
                }   
            }
        }
    }
    .section-intro-banner {
        padding: 12rem 1rem 0 1rem;
        .d-flex {
            flex-direction: column;
        }
        .col-content {
            width: 100%;
        }
        .col-img {
            width: 100%;
            .img-intro-banner {
                right: 0;
            }
        }
    }
    .section-black-coffee {
    .img-section-black-coffee-top-pattern {
        top: -8rem;
        }
    }
}

/* Phone End */


/* Media Query - responsvie View - End */